@import 'reset';
@import 'config';

html {
    font-size: $base-font-size;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
}

.wrap {
    min-height: 100vh;
}

header {
    @include flexBox($jc:flex-start);
    position: relative;
    padding: 20px 40px 67px;
    .logo {
        margin-right: 62px;
    }
    .mo-menu-btn {
        display: none
    }
    & > div {
        @include flexBox($jc:space-between);
        flex: 1;
        & > div {
            @include flexBox;
        }
    }
    a {
        &:hover {
            cursor: pointer;
        }
    }
    .side-left {
        nav {
            & > ul {
                @include flexBox;
                & > li {
                    position: relative;
                    padding: 5px 0;
                    &:not(:last-child) {
                        margin-right: 40px;
                    }
                    a {
                        display: inline-flex;
                        align-items: center;
                        font-size: rem(14px);
                        line-height: lh(16px, 14px);
                        color: #686868;
                        .material-icons {
                            transition: .3s;
                        }
                        &:hover {
                            color: #151515;
                        }
                        &.isMenu {
                            span {
                                pointer-events: none;
                            }
                        }
                        &.on + .nav-inner {
                            display: block;
                        }
                        &.on {
                            .material-icons {
                                transform: rotate(180deg);
                            }
                        }
                    }
                    .nav-inner {
                        display: none;
                        position: absolute;
                        top: 35px;
                        left: 50%;
                        transform: translateX(-50%);
                        @include wh(max-content, auto);
                        padding: 24px;
                        box-shadow: 0px 10px 40px 0px #00000026;
                        border-radius: 10px;
                        background-color: #fff;
                        box-sizing: border-box;

                        // 컬러 배열
                        $colors: (#726CEE, #4BB1DA, #EDD556, #8E4CB6);
                        @each $color in $colors {
                            $i: index($colors, $color);
                            li:nth-child(#{$i}) {
                                a {
                                    .material-icons {
                                        color: #{$color};
                                    }
                                }
                            }
                        }
                        li {
                            &:not(:last-child) {
                                margin-bottom: 16px;
                            }
                        }
                        a {
                            gap: 15px;
                        }
                    }
                }
            }
        }
    }
    .side-right {
        a {
            color: #686868;
            font-size: rem(14px);
            line-height: lh(16px, 14px);
            &:hover {
                color: #151515;
            }
        }
        .login-btn {
            margin-right: 40px;
        }
        .register-btn {
            padding: 13px 22px;
            border: 2px solid #686868;
            border-radius: 10px;
            &:hover {
                border: 2px solid #151515;
            }
        }
    }
}

.inner {
    @include flexBox($jc:space-between);
    gap: 125px;
    max-width: 1145px;
    margin: 0 auto;
    .side-left {
        align-self: flex-end;
        .text-box {
            margin-bottom: 108px;
            h2 {
                margin-bottom: 48px;
                font-size: rem(80px);
                line-height: lh(80px, 80px);
                font-weight: 700;
            }
            p {
                margin-bottom: 51px;
                font-size: rem(18px);
                line-height: lh(28px, 18px);
                color: #686868;
            }
            button {
                @include wh(163px, 56px);
                @include btnReset(#fff);
                border-radius: 10px;
                background-color: #000;
                font-size: rem(18px);
                line-height: lh(28px, 18px);
                cursor: pointer;
                &:hover {
                    border: 2px solid #000;
                    background-color: transparent;
                    color: #000;
                }
            }
        }
        .logo-box {
            @include flexBox($jc:flex-start);
            li {
                &:not(:last-child) {
                    margin-right: 40px;
                }
            }
        }
    }
    .side-right {
        .pc-img {
            min-width: 480px;
            max-width: 480px;
            img {
                width: 100%;
            }
        }
        .mo-img {
            display: none;
        }
    }
}

@media (max-width: 1230px) {
    .inner {
        flex-direction: column-reverse;
        gap: 47.75px;
        padding-bottom: 50px;
        .side-left {
            align-self: center;
            .text-box {
                margin-bottom: 48px;
                text-align: center;
                h2 {
                    br {
                        display: none;
                    }
                }
            }
            .logo-box {
                justify-content: center;
            }
        }
    }
}

@media (max-width: 900px) {
    header {
        padding: 16px 16px 20px;
        &.isOpen {
            .mo-menu-btn {
                span {
                    &:nth-child(1) {
                        top: 8px;
                        transform: translateX(-50%) rotate(45deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        bottom: 7px;
                        transform: translateX(-50%) rotate(-45deg);
                    }
                }
            }
            & > div {
                right: 0;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 100%;
                    width: calc(100% + 100vw);
                    height: 100%;
                    background-color: rgba(0,0,0,.5);
                }
            }
        }
        .mo-menu-btn {
            @include btnReset();
            display: block;
            position: fixed;
            top: 16px;
            right: 16px;
            @include wh(32px, 18px);
            span {
                @include wh(32px, 2px);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                background-color: #000;
                transition: .3s;
                &:nth-child(1) {
                    top: 0;
                }
                &:nth-child(3) {
                    top: auto;
                    bottom: -2px;
                }
            }
        }
        & > div {
            position: fixed;
            top: 0;
            right: -240px;
            // right: 0;
            display: block;
            width: 240px;
            height: 100vh;
            padding-top: 78px;
            background-color: #fff;
            transition: .5s;
        }
        .side-left {
            nav {
                width: 100%;
                padding-left: 24px;
                margin-bottom: 32px;
                ul {
                    flex-direction: column;
                    align-items: flex-start;
                    li {
                        &:not(:last-child) {
                            margin-right: 0;
                            margin-bottom: 16px;
                        }
                        .nav-inner {
                            position: static;
                            top: auto;
                            left: auto;
                            transform: translateX(0);
                            box-shadow: none;
                        }
                    }
                }
            }
        }
        .side-right {
            flex-direction: column;
            padding: 0 24px;
            .login-btn {
                margin-right: 0;
                margin-bottom: 16px;
            }
            .register-btn {
                width: calc(100% - 48px);
                text-align: center;
            }
        }
    }
}

@media (max-width: 800px) {
    .inner {
        .side-left {
            padding: 0 16px;
            .text-box {
                h2 {
                    font-size: rem(36px);
                    margin-bottom: 16px;
                }
                p {
                    font-size: rem(16px);
                    margin-bottom: 24px;
                }
            }
            .logo-box {
                li {
                    &:not(:last-child) {
                        margin-right: 28px;
                    }
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
        .side-right {
            .pc-img {
                display: none;
            }
            .mo-img {
                display: block;
                img {
                    max-width: 100%;
                }
            }
        }
    }
}